@import 'functions', 'mixins';

$yellow-meli: #FFE600;
$color-text: #333333;
$color-text-city: #666666;
$color-placeholder: #999999;
$color-backgroud: #EEEEEE;
$blue-bnt: #3483FA;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $color-backgroud;
  margin: 0;
  font-family: "Proxima Nova",-apple-system, Roboto,Arial,sans-serif,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 2200px;
  margin-left: auto;
  margin-right: auto;
}

.paper {
  background-color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;

  @include grid-system('all')
}

@media (min-width:576px){
  .row {  
    @include grid-system('sm')
  }
}

@media (min-width:768px){
  .row {  
    @include grid-system('md')
  }
}

@media (min-width:992px){
  .row {  
    @include grid-system('lg')
  }
}

@media (min-width:1200px){
  .row {  
    @include grid-system('xl')
  }
}
